<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.sp.cordova.plugin.keychainutil"
    version="1.0.0">

    <name>KeyChain Plugin for Cordova iOS</name>
    <description>This plugin allows your app access to the iOS KeyChain from Cordova. See: https://developer.apple.com/library/mac/documentation/security/conceptual/keychainServConcepts/iPhoneTasks/iPhoneTasks.html</description>
    <license>Apache 2.0</license>
    <keywords>keychain</keywords>

    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>

    <asset src="www/keychain1.js" target="plugins/keychain1.js" />

	<js-module src="www/keychain1.js" name="OldKeychain">
    	<clobbers target="window.OldKeychain" />
	</js-module>

    <!-- ios -->
    <platform name="ios">
        <!-- feature tag in config.xml -->
        <config-file target="config.xml" parent="/widget">
          <feature name="OldKeychain">
            <param name="ios-package" value="CDVKeychain1"/>
          </feature>
        </config-file>

        <header-file src="src/ios/CDVKeychain1.h" />
        <header-file src="src/ios/SFHFKeychainUtils/SFHFKeychainUtils1.h"/>

        <source-file src="src/ios/CDVKeychain1.m"/>
        <source-file src="src/ios/SFHFKeychainUtils/SFHFKeychainUtils1.m" compiler-flags="-fobjc-arc" />

        <framework src="Security.framework" />

    </platform>
</plugin>
